h1 {
  color: #C82003;
border: 0px solid #F9BB79;
margin: 23px;
padding: 9px;
font-family: 'Nabla', cursive;
font-size: 56px;

}

h2 {
  font-family: 'Space Grotesk', sans-serif;
  color: white;
}

h3 {
  font-family: 'Space Grotesk', sans-serif;
  color: white;
}

body {
  background-color: #1B172F;
  color: white;
  font-family: 'M PLUS 1p', sans-serif;
}
