body {
  background-color:  #FF7272;
  font-family:  monospace;
  padding: 50px;
}

h1 {
  font-weight: normal;
  align-items: center;
  text-align: center;
}

h2 {
  font-weight: normal;
  align-items: center;
  text-align: center;
}

.container {
  max-width: 700px;
  margin: 0 auto;
}

img {
  max-width: 100%;
}

@media (max-width: 650px) {
  body {
    background-color: #F69072;
    color:  white;
  }
}

/* @media (max-height: 650px) {
  body {
    background-color: orange;
  } */

  /* Tablet breakpoint */
@media (min-width: 768px) {
  body {
    font-size: 40px;
  }
}

/* Desktop breakpoint */
@media (min-width: 992px) {
  body {
    font-size: 50px;
  }
  h1 {
    font-size: 300px;

  }
  h2 {
    font-size: 240px;
    flex-direction: row;
    align-items: center;
  }
}

/* Wide screen breakpoint */
@media (min-width: 1200px) {
  body {
    font-size: 60px;
  }
  h1 {
    font-size: 300px;
  }
  h2 {
    font-size: 240px;
  }
}
