@font-face {
    font-family: Glitchy;
    src: url(assets/GlitchyVF.woff2);
}
@font-face {
    font-family: 'Avara_Bold';
    src:    url('assets/Bold/Avara-Bold_web.eot');
    src:    url('assets/Bold/Avara-Bold_web.eot?#iefix') format('embedded-opentype'),
            url('assets/Bold/Avara-Bold_web.woff') format('woff'),
            url('assets/Bold/Avara-Bold_web.woff2') format('woff2'),
            url('assets/Bold/Avara-Bold_web.ttf') format('truetype'),
            url('assets/Bold/Avara-Bold_web.svg#svgFontName') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Avara_Bold_Italic;
    src:    url('assets/BoldItalic/Avara-Bold_Italic_web.eot');
    src:    url('assets/BoldItalic/Avara-Bold_Italic_web.eot?#iefix') format('embedded-opentype'),
            url('assets/BoldItalic/Avara-Bold_Italic_web.woff') format('woff'),
            url('assets/BoldItalic/Avara-Bold_Italic_web.woff2') format('woff2'),
            url('assets/BoldItalic/Avara-Bold_Italic_web.ttf') format('truetype'),
            url('assets/BoldItalic/Avara-Bold_Italic_web.svg#svgFontName') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: ABI;
    src: url(assets/BoldItalic/Avara-BoldItalic.woff2);
}
.ABI {
    font-family: 'DM Sans';
    font-style: italic;
    text-transform: none;
    transition: .2s;
}

#jaxwong {
    color: orange;
    margin-top: -5em;
    text-transform: uppercase;
}

.dm-sans {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

* {
    padding: 0;
}

html {
    padding: 0;
    margin: 0;
}

.blackblack {
    background-color: black;
    color: white !important;
}
.blackblack .header a {
    color: white;
    background-color: black;
}
.blackblack .header a:hover {
    color: white;
    text-shadow: 0vw 0vw .3vw orange;
}
.blackblack a {
    color: white;
}

p {
    font-family: "DM Sans";
    font-weight: 300;
    font-size: 4vw;
    margin-top: .3rem;
    margin-bottom: .3rem;
}


h1 {
    line-height: 80%;
    font-kerning: auto;
    margin: 0vh;
    margin-top: 1vh;
}

h2 {
    font-family: "DM Sans";
    font-weight: 300;
    font-size: 3em;
    margin-bottom: 2%;
    text-align: center;
}

h3 {
    font-family: "DM Sans";
    font-weight: 400;
    font-size: 300%;
    margin-top: .3rem;
    margin-bottom: .3rem;
    text-align: end;
}

a {
    color: black;
    transition: .3s;
}

a:hover {
    color: orange;
}

/* HEADER STUFF */
.bigheader {
    position: sticky !important;
    display: flex;
    justify-content: space-between;
    flex: 1 1 50%;
    padding: 2%;
    top: 0;
    z-index: 1000;
}

#name {
    font-size: 350%;
    text-align: left;
    display: inline-flex;
    flex-grow: 2;
}

.fuckthis{
    width: 100%;
    font-size: .5rem !important;
    padding: 2%;
    /* border: 3px blue solid !important; */
    /* background-color: aqua; */
}
.fuckthis .info {
    justify-content: end;
}

.header {
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
    justify-content: center;
    text-align: end;
    font-family: "DM Sans";
    font-size: 110%;
    text-transform: uppercase;
    transition: .3s;
    z-index: 500;
}

.header a {
    text-decoration: none;
    transition: .3s;
    background-color: white;
}

.header a:hover {
    padding: 1%;
    color: orange;
    text-shadow: 0vw 0vw .4vw orange;
    text-transform: uppercase;
    transition: .3s;
}

/* HOMEPAGE STUFF */
.hpcontainer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 1%;
}

.homepage {
    display: flex;
    padding: 1%;
    flex: 1;
}

.homepage img {
    max-width: 90%;
    min-width: 15%;
}

.homepage#flex {
    justify-content: flex-start;
    align-items: flex-start; 
    align-content: flex-start; 
}

#flex {
    flex-flow: column;
    justify-content: flex-start;
    align-content: flex-start;
    gap: 2em;
}

#flex > * {
    flex: 0 0 auto;
    box-sizing: border-box;
    min-width: 160px;
    width: 100%;
    justify-content: flex-start;
    align-content: flex-start;
}

.hometitle {
    padding-right: 2%;
    padding-left: 2%;
}

#lefta h3 {
    text-align: start;
}

/* Tooltip container */
.tooltip {
    position: relative;
    display: flex;
    border-bottom: 2px dotted black;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: auto;
    width: 100%;
}

.tooltip img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
    filter: grayscale(100%);
    transition: .1s;
}

.tooltip a {
    display: flex;
    width: 100%;
    object-fit: contain;
}

/* Tooltip content */
.tooltip .tooltiptext {
    visibility: hidden;
    position: fixed;
    max-height: 27vh;
    border-bottom: 2px dotted black;
    background-color: white;
    pointer-events: none;
    z-index: 1000;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    height: 0;
    overflow: hidden;
    border-width: 0;
    padding: 0;
}

.tooltiptext p {
    font-family: "DM Sans";
    font-weight: 444;
    font-size: 222%;
}

.tooltiptext .tttsmall {
    font-size: 111%;
    font-weight: 333;
    font-style: italic;
}

.tooltip:hover img {
    filter: invert(0%);
    border: 2px solid orange;
} 

body{
    margin: 0;
    padding: 0;
}

.worksproj {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    padding: 2%;
}

.worksproj p {
    font-family: "DM Sans";
    font-weight: 300;
    font-size: 150%;
    letter-spacing: normal;
    font-style: normal;
    text-align: left;
}


li {
    font-family: "DM Sans";
    font-weight: 300;
    font-size: 150%;
    letter-spacing: normal;
    font-style: normal;
    text-align: left;
}


.worksproj em {
    color: darkorange;
    font-family: 'DM Sans';
    font-weight: 700;
}

.worksproj img {
    width: 100%;
    padding-top: 2%;
    padding-bottom: 2%;
}

.worksproj a:hover {
    color: orange;
    transition: .3s;
}

.infoblock {
    display: flex;
    width: 95vw;
    margin: 0 auto;
}

.infoblock em {
    font-weight: 555;
}

.infoblock #arrow p {
    font-size: 1.5vw;
    text-align: center;
}

.info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2%;
    padding-bottom: 2%;
    width: 100%;
}

.titledeets {
    flex: 1 0;
    width: auto;
}

.titledeets h2 {
    margin-top: 0;
    text-align: left;
}

#deets {
    font-style: italic;
}

.desc {
    flex: 2 0;
    width: 100%;

    align-content: center;
    justify-content: flex-start;
    align-items: flex-start;
}

#year {
    text-align: right;
}

#portrait {
    max-width: 500px;
    width: 55vw;
    height: auto;
    display: flex;
    margin: 0 auto;
}


img {
    display: block;
    max-width: 100%;
}



.wrapper {
    overflow: hidden;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-gap: 10px;
    width: 100%;
    margin: 2% 0;

    /* border: red solid 4px; */
}

.gallery {
    overflow: scroll;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}

.gallery__img {
    scroll-snap-align: start;
    margin-bottom: 10px;
    min-height: 100vh;
    object-fit: cover;
    width: 100%;
}

.lil-nav {
overflow-y: scroll;
overflow-x: hidden;

    a {
        height: 200px;
        display: flex;
        margin-bottom: 10px;
    }
}

.lil-nav__img {
object-fit: cover;
filter: saturate(0);
transition: 0.3s ease all;

    &:hover {
        transform: scale(1.05);
        filter: saturate(1);
    }
}



.tworow {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0;
}

.tworow img {
    max-width: 49%;
    height: auto;
    margin: 0;
    padding: 0;
    object-fit: contain;
}

.threegrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2%;
    /* padding: 0; */
    /* margin-left: 0;
    margin-right: 0; */


    width: 100%; /* Add this */
    height: 100%;
    box-sizing: border-box; /* Add this */
    /* border: purple solid 1px; */
}

.threegrid img {
    width: 100%;
    height: auto;
    display: block;
    padding: 0;
    margin: 0;

    object-fit: contain;
    max-width: 100%;
}

.threegridspace {
    display: flex;
    gap: 2%;
    width: 100%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.threegridspace > div {
    flex: 1;
    object-fit: cover;
}

.threegridspace img {
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
}


.vidrow {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding-top: 2%;
    padding-bottom: 2%;
    max-height: 80vh;
}

.smallerwide {
    width: 66vw;
    padding: 2%;
    margin: none;
}

.smallerwide img {
    width: 100%;
    margin: none !important;
}

.fwgridsock {
    display: flex;
    width: 100%;
    max-width: 100%;
}
.fwgridsock img {
    width: calc(100%/9);
}

.fwgrid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0;
    margin-bottom: 4%;
    margin-top: 4%;
    margin-top: 0%;
}

.fwgrid img{
    padding: 0;
    margin: 0;
    width: 100vw;
    height: auto;
}

.fwgrid div{
    width: 100vw;
}

.fwgrid div img{
    width: 100%;
}

.fwgrid div video{
    width: 100vw !important;
}

.fwgrid video{
    width: 100vw !important;
}

video {
    width: auto !important;
    height: 76vh !important;
    max-width: 100% !important;
}

/* SCROLLBAR */
.sleft, .sright {
    scrollbar-width: thin;
    scrollbar-color: orange transparent;
}

.sleft::-webkit-scrollbar, .sright::-webkit-scrollbar {
    width: 6px;
}

.sleft::-webkit-scrollbar-thumb, .sright::-webkit-scrollbar-thumb {
    background: orange;
    border-radius: 3px;
}

/* MOBILE STYLES */
@media only screen and (max-width: 768px) {
    /* Layout */
    .hpcontainer {
        flex-direction: column;
        padding: 0%;
    }
    
    .homepage {
        width: 100%;
        padding: 0%;
    }
    
    .homepage#flex {
        border-left: none !important;
        /* border-top: solid black 2px; */
        margin-top: 2%;
        color: orange;
    }
    
    /* Header */
    .bigheader {
        flex-direction: row;
        margin: 4%;
        /* max-height: 05vh !important; */
        justify-content: center;
        background-color: white;
        position: sticky;
        padding: 0%;
    }
    
    #name {
        font-size: 110%;
        text-align: lef;
        /* margin-bottom: 2%; */
    }
    
    .header {
        flex-direction: column;
        justify-content: space-around;
        /* text-align: center; */
        font-size: 90%;
    }
    
    .header a {
        padding: 2%;
    }

    #clickme {
        display: none;
    }
    
    /* Typography */
    p {
        font-size: 5vw;
        line-height: 1.4;
    }
    
    h1 {
        font-size: 15vw;
        line-height: 1.2;
    }
    
    h2 {
        font-size: 2em;
        text-align: left;
    }
    
    h3 {
        font-size: 180%;
        text-align: left;
    }
    
    .worksproj p {
        font-size: 5vw;
    }
    
    .worksproj em {
        font-size: 5.5vw;
    }
    
    /* Navigation */
    #jaxwong {
        margin-top: 0;
        font-size: 90%;
    }
    
    /* Images and Media */
    video {
        width: 95vw !important;
        height: auto !important;
    }
    
    .tooltip img {
        filter: none;
        border: none;
    }
    
    .tooltip:hover img {
        filter: none;
        border: none;
    }
    
    /* Grids and Layouts */

    .threegrid {
        grid-template-columns: repeat(1, 1fr);
        gap: 2%;
    }
    
    .threegridspace {
        flex-direction: column;
        gap: 4%;
    }
    
    .threegridspace img {
        margin-bottom: 4%;
    }
    
    .tworow {
        flex-direction: column;
    }
    
    .tworow img {
        max-width: 100%;
        margin-bottom: 4%;
    }
    
    .info {
        flex-direction: column;
        gap: 4%;
    }
    
    .titledeets, .desc {
        width: 100%;
    }
    
    #year {
        text-align: left;
        margin-top: 2%;
    }
    
    /* Project Pages */
    .worksproj {
        padding: 4%;
    }
    
    .smallerwide {
        width: 90vw;
        padding: 4%;
    }
    
    .fwgrid {
        margin-bottom: 8%;
        margin-top: 8%;
    }
    
    .fwgrid img,
    .fwgrid div,
    .fwgrid video {
        width: 100vw;
    }
    
    /* Tooltips */
    .tooltip .tooltiptext {
        display: none;
    }
    
    .tooltip:hover .tooltiptext {
        visibility: hidden;
    }
    
    /* About Page */
    .infoblock {
        flex-direction: column;
        width: 90vw;
        padding: 4%;
    }
    
    .infoblock #arrow p {
        font-size: 8vw;
    }
    
    #portrait {
        width: 80vw;
        margin-bottom: 8%;
    }
    
    /* Homepage specific */
    .hometitle {
        padding: 4%;
    }
    
    #lefta h3 {
        text-align: center;
        font-size: 150%;
    }
    
    /* Spacing */
    #flex {
        gap: 1em;
    }
    
    .tooltip {
        margin-bottom: 4%;
    }
    
    /* Hide decorative elements */
    .ABI {
        font-style: normal;
    }
    
    /* Improve touch targets */
    a {
        padding: 2%;
        display: block;
    }
    
    .header a {
        padding: 3%;
    }
}