h1 {
  font-family: 'Audiowide', cursive;
  font-size: 56px;
}

body {
  font-family: 'BhuTuka Expanded One', cursive;
}

img {
  width: 30%;
}

.container {
  display: flex;
  flex-direction:  row;
  justify-content: center;
  /* flex-wrap:  wrap; */
  padding:10px;
  /* background-color: #063910; */
  min-height: 100px;
  /* max-width: 50%; */
font-family: 'ZCOOL XiaoWei', serif;
  color:  #042135;
  font-size:  36px;
  text-align:  center;
  transition: all 0.5s ease;
}

.containerbut {
  align-self: center;
  align-content: center;
  display: flex;
  flex-direction:  row;
  justify-content: space-between;
  /* flex-wrap:  wrap; */
  padding:10px;
  min-height: 50px;
  width: 70%;
font-family: 'ZCOOL XiaoWei', serif;
  color:  #042135;
  font-size:  36px;
  text-align:  center;
  transition: all 0.5s ease;
}
