body {

  font-family: 'ZCOOL XiaoWei', serif;
  align-content: center;
  background-color: #E1E4CD;
  padding: 50px;
  transition: all 0.5s ease;
}

h1 {
  border-style: double;
  border-width: thick;
  padding: 20px;
  border-color: #FCFAE1;
  font-family: 'ZCOOL XiaoWei', serif;
  text-align:  center;
  font-size: 50px;
  letter-spacing: 0.5rem;
  transition: all 0.5s ease;
}

h1:hover {
  font-size: 65px;
  transition: all 0.5s ease;
  letter-spacing: 1.5rem;
  border-color: #B2BE83;
  -webkit-transform: rotate(-360deg) scale(1);
  transform: rotate(-360deg) scale(1.5);
}

.container {
  display: flex;
  flex-direction:  row;
  justify-content:  space-between;
  /* flex-wrap:  wrap; */
  padding:10px;
  background-color: #063910;
  min-height: 100px;
  /* max-width: 50%; */
  font-family: 'ZCOOL XiaoWei', serif;
  color:  #042135;
  font-size:  36px;
  text-align:  center;
  transition: all 0.5s ease;

}

a {
  background: linear-gradient(17deg, rgba(30,108,122,1) 0%, rgba(40,67,71,1) 52%, rgba(9,46,55,1) 79%, rgba(44,42,42,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
  transition: all 0.5s ease;
}

a:hover {
  background: linear-gradient(23deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
  transition: all 0.5s ease;
}

* {box-sizing:  border-box;}
.item {
  /*margin: 10px 10px;*/
flex-shrink: 1;
 flex-basis: 200px;
 transition: all 1s ease;
}

.item:hover {
  /*margin: 10px 10px;*/
flex-grow: 2;
 flex-basis: 300px;
 transition: all 1s ease;
 background-color: #FCFAE1;
}

.itemno:hover {
  /*margin: 10px 10px;*/
flex-grow: 1;
 flex-basis: 200px;
 transition: all 1s ease;
 background-color: #063910;
}


.item1 {
  background-color: #326211;
  align-self: auto;
}
.item2 {
  background-color:  #4E7620;
}
.item3 {
  background-color:  #6D882F;
}
.item4 {
  background-color:  #95A249;
}
.item5 {
  background-color:  #AAB664;
}

.item6 {
  background-color:  #C6D08A;
}

.item7 {
  background-color:  #DFE8AA;
}

.itemno {
  background-color:  #063910;
}

.week {
  background-color:  #144E20;
}

.week:hover {
  /*margin: 10px 10px;*/
flex-grow: 1;
 flex-basis: 200px;
 transition: all 1s ease;
 background-color: #144E20;
}
