body {
  background-color:  #F0C363;
  font-family: 'Gemunu Libre', sans-serif;
  font-size: 35px;
  padding: 50px;
}

h1 {
  font-family: 'Righteous', cursive;
  font-size: 150px;
}

h2 {
  font-family: 'Righteous', cursive;
  font-size: 100px;
  padding: 30px;
}

h3 {
  padding: 50px;
  font-family: 'Gemunu Libre', sans-serif;
  font-weight: 700;
  font-size: 35px;
}

em {
  font-size: 45px;
}

img {
  max-width: 100%;
  align-items: center;
}

.container {
  max-width: 700px;
  margin: 0 auto;
}

.letter {
  max-width: 800px;
  margin: 0 auto;
}

/* phone i think */
@media (max-width: 650px) {
  body {
    background-color: #F69072;
    color:  white;
  }
}

/* Tablet breakpoint */
@media (min-width: 768px) {
body {
  font-size: 30px;
}
h1 {
  color: #ECA000;
  max-width: 40%;
}
em {
  font-size: 35px;
}

}

/* Desktop breakpoint */
@media (min-width: 992px) {
  body {
    font-size: 50px;
    background-color: #C8D91F;
  }
  h1 {
    color: #7D8900;
    max-width: 80%;
  }
  h2 {
    color: #7D8900;
    max-width: 40%;
  }
  em {
    font-size: 65px;
  }
}


/* Wide screen breakpoint */
@media (min-width: 1200px) {
  body {
    font-size: 60px;
    background-color: #C8D91F;
  }
  h1 {
    color: #7D8900;
    max-width: 80%;
    align-items: flex-end;
  }
  h2 {
    font-size: 240px;
  }
  em {
    font-size: 75px;
  }
}
